@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family : 'Varela Round', sans-serif;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
.navigation ul{
    position: relative;
}
.navigation ul li{
    text-align: center;
    list-style-type: none;
    margin-top: 12px;
}
.navigation ul li a{
    color: #333;
    text-decoration: none;
    font-size: 3em;
    padding :5px;
    display: inline-flex;
    font-weight : 700;
    transition: 0.5s;
}
.navigation ul:hover li a{
    color: #0002;
}
.navigation ul li:hover a{
    color: #000;
    background-color: #fff;
}
.navigation ul li a::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    font-size : 16vw;
    color: rgba(0,0,0,.1);
    z-index: -1;
    opacity: 0;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 500px;
    transition: .3s all ease-in-out;
}
.navigation ul li a:hover::before{
    content : attr(data-text);
    letter-spacing: 0;
    opacity: 1;
    width: 1800px;
    height : 1800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation ul li:nth-child(6n+1) a::before{
    background-color: #81ecec;
}
.navigation ul li:nth-child(6n+2) a::before{
    background-color: #ff7675;
}
.navigation ul li:nth-child(6n+3) a::before{
    background-color: #a29bfe;
}
.navigation ul li:nth-child(6n+4) a::before{
    background-color: #81ecec;
}
.navigation ul li:nth-child(6n+5) a::before{
    background-color: #fd79a8;
}
.navigation ul li:nth-child(6n+6) a::before{
    background-color: #ffeaa7;
}