*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #00a2ff;
}
.clock{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background-color: #e9fcfc;
    border-radius: 50%;
    border: 16px solid #303030;
}
.clock::before{
    position: absolute;
    content: "";
    width: 259px;
    height: 259px;
    border: 6px solid #202020;
    border-radius: 50%;
    box-shadow: 0 1px 4px rgba(0, 0 ,0 ,.5);
}
.clock::after{
    position: absolute;
    content: "";
    width: 150px;
    height: 150px;
    background-color: #59c3ff;
    border-radius: 50%;
}
.center-nut, .center-nut2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-nut{
    height: 16px;
    width: 16px;
    background-color: #262626;
    z-index: 2;
    border-radius: 50%;
}
.center-nut2{
    height: 9px;
    width: 9px;
    background-color: red;
    z-index: 3;
    border-radius: 50%;
}
.indicators div{
    position: absolute;
    width: 2px;
    height: 5px;
    background-color: #404040;
}
.indicators div:nth-child(1){
    transform: rotate(30deg) translateY(-113px);
}
.indicators div:nth-child(2){
    transform: rotate(60deg) translateY(-113px);
}
.indicators div:nth-child(3){
    transform: rotate(90deg) translateY(-113px);
    background-color: red;
}
.indicators div:nth-child(4){
    transform: rotate(120deg) translateY(-113px);
}
.indicators div:nth-child(5){
    transform: rotate(150deg) translateY(-113px);
}
.indicators div:nth-child(6){
    transform: rotate(180deg) translateY(-113px);
    background-color: red;
}
.indicators div:nth-child(7){
    transform: rotate(210deg) translateY(-113px);
}
.indicators div:nth-child(8){
    transform: rotate(240deg) translateY(-113px);
}
.indicators div:nth-child(9){
    transform: rotate(270deg) translateY(-113px);
    background-color: red;
}
.indicators div:nth-child(10){
    transform: rotate(300deg) translateY(-113px);
}
.indicators div:nth-child(11){
    transform: rotate(330deg) translateY(-113px);
}
.indicators div:nth-child(12){
    transform: rotate(360deg) translateY(-113px);
    background-color: red;
}
.secend-hand{
    position: absolute;
    height: 1px;
    width: 1px;
    z-index: 5;
    animation: sec-hand 60s linear infinite;
}
.secend-hand::before{
    position: absolute;
    content: "";
    height: 130px;
    width: 3px;
    left: -1px;
    top: -25px;
    background-color: red;
    border-radius: 3px;
}
.secend-hand::after{
    position: absolute;
    content: "";
    height: 45px;
    width: 7px;
    left: -3px;
    top: -55px;
    background-color: red;
    border-radius: 3px;
}
.minute-hand{
    position: absolute;
    height: 1px;
    width: 1px;
    z-index: 2;
    transform: rotate(90deg);
    animation: min-hand 3600s linear infinite;

}
.minute-hand::before{
    position: absolute;
    content: "";
    height: 1px;
    width: 1px;
    left: -3px;
    top: -95px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 70px solid #303030;
}
.minute-hand::after{
    position: absolute;
    content: "";
    height: 1px;
    width: 3px;
    left: -3px;
    top: -25px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 25px solid #303030;
}
.hour-hand{
    position: absolute;
    height: 1px;
    width: 1px;
    z-index: 2;
    transform: rotate(240deg);
    animation: hr-hand 43200s linear infinite;
}
.hour-hand::before{
    position: absolute;
    content: "";
    height: 1px;
    width: 1px;
    left: -3px;
    top: -75px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 55px solid #303030;
}
.hour-hand::after{
    position: absolute;
    content: "";
    height: 1px;
    width: 3px;
    left: -3px;
    top: -21px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 20px solid #303030;
    border-radius: 3px;
}