* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2f363e;
}

#time {
    display: flex;
    gap: 40px;
    color: #fff;
    max-width: 700px;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width : 540px) {
    #time {
        gap: 0;
    }
}

#time .circle {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time .circle svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

#time .circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: #191919;
    stroke-width: 4px;
    transform: translate(5px, 5px);
}

#time .circle svg circle:nth-child(2) {
    stroke: var(--color);
    stroke-dasharray: 440;
}

#time div {
    position: absolute;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

#time div span {
    position: absolute;
    transform: translate(-50%, 0px);
    font-size: 0.5rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

#time .ap {
    position: relative;
    font-size: 1rem;
    transform: translate(-20px);
}

.dots {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.dots::before {
    content: "";
    position: absolute;
    top: -3px;
    width: 15px;
    height: 15px;
    background: var(--color);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--color),
        0 0 60px var(--color);
}