@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #080710;
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(#1845ad,
            #23a2f6);
    left: -80px;
    top: -80px;
}

.shape:last-child {
    background: linear-gradient(to right,
            #ff512f,
            #f09819);
    right: -30px;
    bottom: -80px;
}

form.zpForm {
    width: 400px;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 10px 20px;
}

form.zpForm * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form.zpForm h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

form.zpForm label {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 500;
}

form.zpForm input {
    display: block;
    height: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

div.isAccepted {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

input[type='checkbox'].isAccepted {
    margin-top: 16px;
    margin-right: 80px;
    width: 30px;
    appearance: none;
    height: 30px;
    cursor: pointer;
    transition: all .3s;
    background-color: rgb(255 253 253 / 51%);
}

input[type='checkbox'].isAccepted:checked {
    background-color: #23a2f6;
    border-radius: 50%;
}

span.input-error {
    height: 10px;
    text-align: left;
    margin-top: 5px;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 0.7rem;
    color: #fff;
    line-height: 10px;
    padding: 2px 3px;
    border-radius: 3px;
    background-color: #ff512f;
}

::placeholder {
    color: #e5e5e5;
}

form.zpForm button {
    margin-top: 20px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

div.have-account {
    font-size: 12px;
    font-weight: 100;
    margin: 12px 0 1px 0;
}

div.have-account a {
    text-decoration: none;
    color: #23a2f6;
    font-weight: 700;
}

@media (max-width: 440px) {
    form.zpForm {
        border-radius: 0;
    }

    label.isAccepted {
        font-size: 12px;
    }
}