.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.root {
    min-width: 500px;
}

#typed-content {
    animation: typing 3s steps(55), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}