* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    user-select: none;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pulse-btn {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 50%;
    background: rgb(255, 102, 102);
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(255, 102, 102, .5);
    animation: pulse 1.5s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes pulse {
    0% {
        transform: scale(.9);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba(255, 102, 102, 0);
    }

    100% {
        transform: scale(.9);
        box-shadow: 0 0 0 0 rgba(255, 102, 102, 0);
    }
}