*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232323;
    overflow: hidden;
    padding: 100px;
}
section::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ef3b36;
    clip-path: circle(45% at 100% -20%);
}
section::after{
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #47aafa;
    clip-path: circle(35% at 0% 100%);
}
.container{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .card{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, .05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, .2);
    -webkit-backdrop-filter: blur(2em);
    backdrop-filter: blur(2em);
}
.container .card .imgBox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    transition: 0.5s ease-in-out;
}
.container .card:hover .imgBox{
    transform: translateY(-100px);
}
.container .card .imgBox img{
    max-width: 100%;
    margin: 0 0 20px;
    transition: 0.5s ease-in-out;
}
.container .card:hover .imgBox img{
    transform: translate(-20px, -40px) rotate(-25deg) scale(1.5);
}
.container .card .imgBox h2{
    color: #eee;
}
.container .card:hover .imgBox h2{
    color: #fff;
    font-weight: 600;
}
.container .card .content{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease-in-out;   
    opacity: 0;
    visibility: hidden;
}
.container .card:hover .content{
    opacity: 1;
    visibility : visible;
    transform: translateY(-50px);
}
.container .card .content .size,
.container .card .content .color{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:8px 20px;    
    cursor: pointer;
}
.container .card .content .size h3,
.container .card .content .color h3{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}
.container .card .content .size span{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 24px;
    display: inline-block;
    color: #111;
    background: #fff;
    border-radius: 4px;
    margin: 0 4px;
    font-size: 14px;
    font-weight: 500;
}
.container .card .content .size span:hover{
    background-color: #9bdc28;
}
.container .card .content .color span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 4px;
    background: #c83283;
    border: 2px solid #fff;
}
.container .card .content .color span:nth-child(2){
    background: blue;
}
.container .card .content .color span:nth-child(3){
    background: black;
}
.container .card .content a {
    position: relative;
    top: 10px;
    display: inline-block;
    padding: 12px 30px;
    background-color: #fff;
    border-radius: 40px;
    text-decoration: none;
    letter-spacing: 1px;
    color: #111;
    font-weight: 600;
    text-transform: uppercase;
}